<h1>Homepage</h1>
<h2>Search your flight</h2>
<p>Leave the date field empty if you want to see all flights</p>
<%# form_for @flight_form do |f| %>
  <%# f.select(:from_airport_id, @flight_options) %>
  <%# f.submit %>
<%# end %>
<%= form_with(url: "/flights", method: "get", local: true) do |f| %>
  <% @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <%= f.select(:from_airport_id, @airport_options, { prompt: 'From?' }) %>
  <%= f.select(:to_airport_id, @airport_options, { prompt: 'To?' }) %>
  <%= f.date_field('datetime') %>
  <%= f.submit("Show flights") %>
<% end %>

<%# if @available_flights.any? %>

<%# end %>

<%# form_tag(flights_path method: 'get') do %>
  <%# select_tag(:from_airport_id, options_for_select(@flight_options)) %>
  <%# submit_tag 'Search' %>
<%# end %>

<h2>Available flights</h2>
<% @available_flights.where("datetime > ?", Time.now).order('datetime').each do |flight| %> <%#the .where(ecc) indexes only the future flights, avoids all the past flights that will still be conserved in the database%>
  <p>From: <%= flight.departing_airport.code %> | To: <%= flight.arriving_airport.code %> | Flight duration: <%= flight.flight_duration %> min | Date: <%= flight.datetime.to_date %> </p>
  <p>hi</p>
<% end %>

