<h1>Homepage</h1>
<h2>Search your flight</h2>
<p>Leave the date field empty if you want to see all flights</p>
<%# form_for @flight_form do |f| %>
  <%# f.select(:from_airport_id, @flight_options) %>
  <%# f.submit %>
<%# end %>
<% flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div><br>
<% end %>

<%= form_with(url: "/flights", method: "get", local: true) do |f| %>
  <% @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <%= f.select(:from_airport_id, @airport_options, selected: params[:from_airport_id], prompt: 'From?' ) %> <%# the "selected" keeps the values inserted by the user. Otherwise they would get resetted after he searched for the flights %>
  <%= f.select(:to_airport_id, @airport_options, selected: params[:to_airport_id], prompt: 'To?' ) %>
  <%= f.date_field('datetime', value: params[:datetime]) %> <%# the "value" is the equivalent of "selected" in the selects. It keeps the values inserted by the user between searches %>
  <%= f.submit("Show flights") %>
<% end %>




<% if @available_flights %>
  <% if @available_flights.any? %>
    <% @available_flights.where("datetime > ?", Time.now).order('datetime').each do |flight| %> <%#the .where(ecc) indexes only the future flights, avoids all the past flights that will still be conserved in the database%>
      <h2>Available flights</h2>
      <p>From: <%= flight.departing_airport.code %> | To: <%= flight.arriving_airport.code %> | Flight duration: <%= flight.flight_duration %> min | Date: <%= flight.datetime.to_date %> </p>
      <p>hi</p>
    <% end %>
  <% else %>
    <p>No flights available to the chosen destinations</p>
  <% end %>
<% end %>

<%# @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <%# select_tag(:from_airport_id, options_for_select(@airport_options, selected: params[:from_airport_id]), { prompt: 'From?' }) %>
  <%# select_tag(:to_airport_id, options_for_select(@airport_options, selected: params[:to_airport_id]), { prompt: 'To?' }) %>
  <%# date_field('datetime') %>
  <%# submit_tag("Show flights") %>	
<%# end %>

<%# if @available_flights.any? %>

<%# end %>

<%# form_tag(flights_path method: 'get') do %>
  <%# select_tag(:from_airport_id, options_for_select(@flight_options)) %>
  <%# submit_tag 'Search' %>
<%# end %>



