<h1>Homepage</h1>
<h2>Search your flight</h2>
<p>Leave the date field empty if you want to see all flights</p>
<%# form_for @flight_form do |f| %>
  <%# f.select(:from_airport_id, @flight_options) %>
  <%# f.submit %>
<%# end %>
<% flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div><br>
<% end %>


<%= form_with(url: "/flights", method: "get", local: true) do |f| %>
  <% @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <%= f.select(:from_airport_id, @airport_options, selected: params[:from_airport_id], prompt: 'From?' ) %> <%# the "selected" keeps the values inserted by the user. Otherwise they would get resetted after he searched for the flights %>
  <%= f.select(:to_airport_id, @airport_options, selected: params[:to_airport_id], prompt: 'To?' ) %>
  <%= f.date_field('datetime', value: params[:datetime]) %> <%# the "value" is the equivalent of "selected" in the selects. It keeps the values inserted by the user between searches %>
  <%# select_tag(:params, :seats, (1..4).map {|i| [i,i]}, selected: params[:seats]) %> <%# makes a form to select the seats, which value (below) will be transmitted and used to the NEW booking, using the hidden form. It will serve to decide how many forms to render (1 for each passenger that will take the seat) %>
  <%= f.submit("Show flights") %>
<% end %><br>




<%= form_with(url: "bookings/new", method: "get") do |f| %>
  <% if @available_flights %>
    <% if @available_flights.where("datetime > ?", Time.now).any? %>
    <h2>Available flights</h2>
      <% @available_flights.order('datetime').each do |flight| %> <%#the .where(ecc) indexes only the future flights, avoids all the past flights that will still be conserved in the database%>   
        <p><%= radio_button_tag(:flight, flight.id, required = true) %> From: <%= flight.departing_airport.code %> | To: <%= flight.arriving_airport.code %> | Flight duration: <%= flight.flight_duration %> min | Date: <%= flight.datetime.to_date %></p>
      <% end %>
      <p>Number of seats: <%= select_tag(:seats, options_for_select((1..4).map {|i| [i,i]} ), prompt: 'Select', required: 'true') %></p>
        <%= f.submit "Next" %>
    <% else %>
      <p>No flights available to the chosen destinations</p>
    <% end %>
  <% end %>
  <%# I wanted to make an individual select seats dropdown for each flight but I couldnt find a way to link the dropdown menu to the radio button. Only the last dropdown menu was working, all the others from the other flights were not. %>

<% end %>

