<h1>Homepage</h1>
<h2>Search your flight</h2>
<%# form_for @flight_form do |f| %>
  <%# f.select(:from_airport_id, @flight_options) %>
  <%# f.submit %>
<%# end %>
<%= form_with(url: "/flights", method: "get", local: true) do %>
  <% @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <%= select_tag(:from_airport_id, options_for_select(@airport_options, selected: params[:from_airport_id]), { prompt: 'From?' }) %>
  <%= select_tag(:to_airport_id, options_for_select(@airport_options, selected: params[:to_airport_id]), { prompt: 'To?' }) %>
  <%= submit_tag("Show flights") %>
<% end %>

<%# if @available_flights.any? %>
  <% @available_flights.each do |flight| %>
    <%= flight.departing_airport.code %>
    <p>hi</p>
  <% end %>
<%# end %>

<%# form_tag(flights_path method: 'get') do %>
  <%# select_tag(:from_airport_id, options_for_select(@flight_options)) %>
  <%# submit_tag 'Search' %>
<%# end %>

<h2>Available flights</h2>
<% if false %>
<% @flight.where("datetime > ?", Time.now).order('datetime').each do |flight| %> <%#the .where(ecc) indexes only the future flights, avoids all the past flights that will still be conserved in the database%>
  <ul>
    <li>
      <p>From: <%= flight.departing_airport.code %> | To: <%= flight.arriving_airport.code %> | Flight duration: <%= flight.flight_duration %> min | Date: <%= flight.datetime.to_date %> </p>
    </li>
  </ul>
<% end %>
<% end %>
