<h1>Your chosen flight</h1>
From: <%= @flight.departing_airport.code %> | To: <%= @flight.arriving_airport.code %> | Flight duration: <%= @flight.flight_duration %> min | Date: <%= @flight.datetime.to_date %>
<br><br><br>

<%= form_with model: @booking do |f| %>
  <%= f.text_field :email %>
  <%= f.number_field :billing %>
  <%= hidden_field_tag('flight', params[:flight]) %>
  <%= f.submit %>

<% end %>

<%= flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div><br>
<% end %>

<% @seats.times do %>
hi
<% end %>
