<h1>Your chosen flight</h1>
From: <%= @flight.departing_airport.code %> | To: <%= @flight.arriving_airport.code %> | Flight duration: <%= @flight.flight_duration %> min | Date: <%= @flight.datetime.to_date %>
<br><br><br>

<%= form_with model: @booking do |f| %>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email %>
  <%= f.label :billing, "Billing: " %>
  <%= f.number_field :billing %>
  <%= hidden_field_tag('flight', params[:flight]) %>
  <%= hidden_field_tag('seats', params[:seats]) %>
    <% @seats.times do |i| %>
      <h2>Passenger <%= i+1 %></h2>

    <% end %>
  <br><br><%= f.submit %>

<% end %>

<br>
<% flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div><br>
<% end %>

<% @seats.times do %>
hi
<% end %>
